$back-to-top-color: #f1e2c6c4;
$card-title-span-color: #7a8599;
$dark-blue-color: #364188;
$dark-blue-color-hover: lighten($dark-blue-color, 20%);
$footer-border-color: #cccccc;
$sidebar-nav-background-color: #dbf5e4;
$hover-background-color: $sidebar-nav-background-color;
$table-hover-color: $sidebar-nav-background-color;
$table-header-font-weight: 600;
$label-font-weight: $table-header-font-weight;
$light-background-color: #f2f2f2;
$main-background-color: #f5fff7;
$middle-blue-color: #164596;
$netbank-blue-color: rgb(2, 117, 216);
$netbank-green-color: #4c915a;
$netbank-red-color: rgb(255, 86, 86);
$sidebar-background-color-hover-focus: #bbdfc8;
$sidebar-item-color-disabled: gray;
$sidebar-item-color: #18680e;
$sidebar-width: 298px;
$sidebar-nav-background-color-active: #89b498;
$table-head-background-color: #97d3a6;
$three-dot-button-color: #929292;
