@use "_variables" as v;
@use "_fonts";

// ************************************************************************************************
// ******** General *******************************************************************************
// ************************************************************************************************
* {
  --bs-body-font-family: "Roboto";
  font-family: var(--bs-body-font-family);
}
#main {
  margin-bottom: 40px;
}
html {
  scroll-behavior: smooth;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// ************************************************************************************************
// ******** Bootstrap styling overrides ***********************************************************
// ************************************************************************************************
$success: v.$netbank-green-color;
$danger: v.$netbank-red-color;
$link-decoration: none;
$dropdown-min-width: 120px;
@import "bootstrap";
body {
  background: v.$main-background-color !important;
}
.table {
  --bs-table-hover-bg: #f7760012;
  margin-top: 1em;
}
.btn-success {
  color: white;
}
.btn-success:hover {
  background-color: darken($success, 11%);
  color: white;
}
.d-lg-block,
.d-none {
  display: block !important;
}
.pe-3 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 15px !important;
}

// ************************************************************************
// ******** Breadcrumbs ---------------------------------------------------
// ************************************************************************
.breadcrumb {
  font-size: 20px;
  @media (max-width: 599px) {
    padding-left: 5px;
    font-size: 14px;
  }
  color: v.$middle-blue-color;
  a {
    color: v.$middle-blue-color;
    transition: all 0.3s;
  }
  a:hover {
    color: v.$dark-blue-color-hover;
  }
  .active {
    font-weight: 600;
    color: v.$middle-blue-color;
    @media (max-width: 599px) {
      font-size: 14px;
    }
  }
}
.breadcrumb-item a {
  font-weight: 500;
  color: gray;
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

// ************************************************************************
// ******** Popover *******************************************************
// ************************************************************************
.popover {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.popover-header {
  color: white;
  background-color: v.$dark-blue-color;
  padding: 12px 16px 12px 16px;
  text-align: center;
  @media (max-width: 599px) {
    font-size: 14px;
  }
}
.popover-body td {
  @media (max-width: 599px) {
    font-size: 11px;
  }
}

// ************************************************************************************************
// ******** Main **********************************************************************************
// ************************************************************************************************
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
  @media (max-width: 599px) {
    padding: 20px 5px 5px 10px;
  }
}

// ************************************************************************
// ******** Dropdown ******************************************************
// ************************************************************************
#dropdown-header-profile {
  background-color: v.$light-background-color;
  color: v.$dark-blue-color;
  &:focus {
    box-shadow: none;
  }
  .dropdown-header,
  .dropdown-item {
    @media (max-width: 599px) {
      font-size: 14px;
    }
  }
}
#dropdown-divider {
  margin: 0px 6px 0px 6px;
  padding: 0px;
}
.dropdown .dropdown-menu {
  padding: 0px;
}
.dropdown-header {
  p {
    @media (max-width: 599px) {
      font-size: 14px;
    }
  }
}
.dropdown-item {
  p {
    @media (max-width: 599px) {
      font-size: 12px;
    }
  }
}
.dropdown-menu {
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-name: dropdown-animate;
  -webkit-animation-name: dropdown-animate;
  border-radius: 4px;
  box-shadow: 0px 5px 25px 0px rgba(44, 88, 44, 0.4);
  padding: 10px 0;
  @media (max-width: 599px) {
    width: fit-content;
  }
  .dropdown-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    text-align: center;
    @media (max-width: 599px) {
      text-align: left;
      font-size: 14px;
    }
    background-color: v.$dark-blue-color;
    color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding: 10px 15px 0px 15px;
    i {
      text-align: left;
      font-size: 18px;
    }
  }
  .dropdown-item {
    font-size: 15px;
    padding: 10px 15px;
    text-align: center;
    @media (max-width: 599px) {
      text-align: left;
      font-size: 14px;
    }
    transition: all 0.3s;
    &:hover {
      background-color: v.$table-hover-color;
    }
    i {
      margin-right: 10px;
      font-size: 18px;
      line-height: 0;
    }
  }
}
@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    background: white;
    border-left: 1px solid #e4e8ec;
    border-top: 1px solid #e4e8ec;
    height: 13px;
    position: absolute;
    right: 20px;
    top: -7px;
    transform: rotate(45deg);
    width: 13px;
  }
}
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

// ************************************************************************************************
// ******** Header ********************************************************************************
// ************************************************************************************************
.logo {
  line-height: 1;
  img {
    max-height: 32px;
    margin-right: 12px;
  }
  span {
    font-size: 26px;
    @media (max-width: 599px) {
      font-size: 18px;
    }
    font-weight: 700;
    color: v.$middle-blue-color;
  }
}
@media (min-width: 1200px) {
  .logo {
    width: auto;
  }
}
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: white;
  padding-left: 20px;
  @media (max-width: 599px) {
    padding-left: 5px;
    padding-right: 10px;
  }
  padding-right: 20px;
  .toggle-sidebar-btn {
    font-size: 32px;
    cursor: pointer;
    color: v.$middle-blue-color;
  }
}
.header-nav ul {
  list-style: none;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}
.hamburger-button {
  background: none;
  color: inherit;
  border: none;
  margin: 0 20px 0 0;
  @media (max-width: 599px) {
    margin: 0 5px 0 0;
  }
  transition: all 0.3s;
  font: inherit;
  cursor: pointer;
  &:hover {
    background: none;
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 50%);
    color: inherit;
    margin: 0 20px 0 0;
    @media (max-width: 599px) {
      margin: 0 5px 0 0;
    }
    transition: all 0.3s;
    cursor: pointer;
  }
}
.dropdown-header i {
  margin-right: 10px;
}
.header-nav i {
  margin-right: 10px;
}
#dropdown-basic:focus {
  box-shadow: none;
}
#profile-button {
  color: white;
  background-color: v.$dark-blue-color;
  border-color: v.$middle-blue-color;
  &:hover {
    border: 1px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 50%);
  }
  &:focus {
    box-shadow: none;
  }
  @media (max-width: 599px) {
    font-size: 14px;
  }
}
#login-button {
  color: v.$middle-blue-color;
  background-color: white;
  border-color: v.$middle-blue-color;
  &:hover {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 50%);
  }
  &:focus {
    box-shadow: none;
  }
  @media (max-width: 599px) {
    font-size: 14px;
  }
}

// ************************************************************************************************
// ******** Sidebar *******************************************************************************
// ************************************************************************************************
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: white;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: white;
}
.sidebar {
  position: fixed;
  height: fit-content;
  top: 60px;
  left: 0;
  bottom: 0;
  width: v.$sidebar-width;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: white;
  border-radius: 0px 0px 5px 0px;
  @media (max-width: 599px) {
    transition: all 0.6s;
    width: v.$sidebar-width-low-res;
    padding: 5px 5px 5px 10px;
  }
}
.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .nav-item {
    margin-bottom: 5px;
    .nav-link-disabled {
      color: v.$sidebar-item-color-disabled;
    }
  }
  .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: v.$sidebar-item-color;
    transition: all 0.3s;
    background: v.$sidebar-nav-background-color;
    padding: 10px 15px;
    border-radius: 4px;
    i {
      font-size: 18px;
      @media (max-width: 599px) {
        font-size: 14px;
      }
      margin-right: 10px;
      color: v.$sidebar-item-color;
    }
    &:hover,
    &:focus {
      color: v.$dark-blue-color;
      background: v.$sidebar-background-color-hover-focus;
      i {
        transition: all 0.3s;
        color: v.$dark-blue-color;
        background-color: v.$sidebar-background-color-hover-focus;
      }
    }
    .bi-caret-down {
      margin-right: 0;
      font-size: 15px;
      @media (max-width: 599px) {
        font-size: 10px;
      }
    }
  }
  .nav-link:not(.collapsed) .bi-caret-down {
    transform: rotateX(-180deg);
    transition: all 0.8s;
  }
  .nav-link.collapsed .bi-caret-down {
    transition: all 0.6s;
  }
  .nav-link-disabled {
    color: v.$sidebar-item-color-disabled;
  }
  .nav-link.collapsed {
    .nav-link-disabled {
      color: v.$sidebar-item-color-disabled;
    }
  }
  .nav-content {
    padding: 5px 0 0 10px;
    margin: 0;
    list-style: none;
    transition: all 0.3s;
    a {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: v.$sidebar-item-color;
      background-color: v.$sidebar-nav-background-color;
      padding: 10px 15px 10px 25px;
      @media (max-width: 599px) {
        padding: 10px 15px 10px 15px;
      }
      margin: 0px 0px 5px 0px;
      border-radius: 4px;
      i {
        font-size: 6px;
        margin-right: 8px;
        line-height: 0;
        padding-bottom: 10px;
      }
      &:active,
      &:hover {
        color: v.$dark-blue-color;
        background: v.$sidebar-background-color-hover-focus;
      }
    }
    li {
      transition: all 0.3s;
    }
    .bi-circle,
    .bi-circle-fill {
      vertical-align: 0.3em;
      @media (max-width: 599px) {
        font-size: 4px;
        vertical-align: 0.15em;
      }
    }
  }
}
@media (max-width: 1199px) {
  .sidebar {
    left: -#{v.$sidebar-width};
  }
}
@media (min-width: 1200px) {
  #main {
    margin-left: v.$sidebar-width;
  }
  #footer {
    margin-left: 0;
  }
}
@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
  .toggle-sidebar .sidebar {
    left: -#{v.$sidebar-width};
  }
}

// ************************************************************************************************
// ******** Dashboard *****************************************************************************
// ************************************************************************************************
.dashboard {
  .filter {
    position: absolute;
    right: 0px;
    top: 15px;
    .icon {
      padding-bottom: 5px;
      transition: all 0.5s;
      font-size: 16px;
      @media (max-width: 599px) {
        font-size: 10px;
      }
    }
    .dropdown-toggle {
      color: v.$three-dot-button-color;
      &:hover,
      &:focus {
        color: rgb(41, 41, 41);
        font-size: 17px;
      }
    }
    .dropdown-header,
    .dropdown-item {
      padding: 8px 15px;
    }
    h6 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: 1px;
      color: white;
      margin-bottom: 6px;
      margin-top: 6px;
      padding: 0;
      padding-top: 3px;
    }
  }
  .netbank-card {
    padding-bottom: 10px;
    font-size: 15px;
    .table {
      thead {
        background: v.$table-head-background-color;
        th {
          border: 0;
        }
      }
      tbody {
        td {
          vertical-align: middle;
        }
      }
    }
    h6 {
      font-size: 28px;
      margin: 0;
      padding: 0;
      padding-top: 3px;
    }
  }
  .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    @media (max-width: 599px) {
      width: 48px;
      height: 48px;
    }
    flex-shrink: 0;
    flex-grow: 0;
    margin: 10px 10px 0 10px;
    border-radius: 14%;
    color: v.$sidebar-item-color;
    background: v.$sidebar-nav-background-color;
  }
  .mobilebank-ad {
    img {
      width: 80px;
      float: left;
    }
    h4 {
      font-size: 15px;
      @media (max-width: 599px) {
        font-size: 12px;
      }
      margin-left: 95px;
      font-weight: bold;
      margin-bottom: 5px;
      a {
        color: v.$dark-blue-color;
        transition: all 0.3s;
        &:hover {
          color: v.$netbank-blue-color;
        }
      }
    }
    p {
      font-size: 15px;
      color: black;
      margin-left: 80px;
    }
  }
}

// ************************************************************************
// ******** Card **********************************************************
// ************************************************************************
.card {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 30px rgba(1, 41, 112, 0.1);
  margin-bottom: 30px;
  @media (max-width: 599px) {
    margin-bottom: 15px;
  }
  overflow: hidden;
}
.card-body {
  @media (max-width: 599px) {
    padding: 0.4rem 0.4rem 0 0.4rem;
  }
  p {
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
  }
}
.card-title {
  color: v.$middle-blue-color;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  padding: 20px 0 15px 0;
  @media (max-width: 599px) {
    padding: 15px 0 15px 15px;
    font-size: 14px;
  }
  span {
    color: v.$card-title-span-color;
    font-size: 14px;
    font-weight: 600;
  }
}
h5.card-title {
  border-radius: 5px;
  @media (max-width: 599px) {
    margin: 10px 10px 0 0;
    padding: 15px 0 0 0;
  }
}
.card-icon > .bi:first-child {
  @media (max-width: 599px) {
    font-size: 20px;
  }
}

// ************************************************************************
// ******** Form **********************************************************
// ************************************************************************
#grid-check-history-1,
#grid-check-history-2 {
  margin-left: 1em;
}
.form-button {
  margin: 10px;
}
.form-item {
  margin-bottom: 20px;
  @media (max-width: 599px) {
    margin-bottom: 8px;
  }
  span {
    @media (max-width: 599px) {
      font-size: 10px;
    }
  }
}
.form-check-input {
  &:checked {
    background-color: v.$netbank-green-color;
    border-color: v.$netbank-green-color;
    &:focus {
      border-color: v.$netbank-green-color;
      outline: 0;
    }
    &:hover {
      transition: all 0.3s;
      box-shadow: 0 0 0 0.25rem rgba(26, 121, 65, 0.25);
    }
  }
}
.form-label {
  margin-bottom: 0.3em;
}
.form-control, .form-select{
  @media (max-width: 599px) {
    font-size: 10px;
  }
}
.login-form {
  padding: 0px 0px 10px 0px;
  margin-top: 5px;
}
.netbank-form {
  label {
    background: v.$table-head-background-color;
    font-weight: v.$label-font-weight;
    display: inline-block;
    width: 10em;
    margin-right: 0.5em;
    padding-top: 1.5em;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    @media (max-width: 599px) {
      padding-left: 5px;
    }
    padding-right: 15px;
    border-radius: 5px;
  }
  legend {
    display: inline-block;
    width: 10em;
    margin-right: 0.5em;
    padding-top: 1.5em;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
  }
}
input,
select {
  display: inline-block;
  width: 10em;
  @media (max-width: 599px) {
    font-size: 10px;
    padding: 6px;
  }
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  background: v.$sidebar-item-color;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
  border: 1px solid black;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
  border: 1px solid black;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
  background: v.$table-head-background-color;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #97d69d;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
  background: v.$table-head-background-color;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: v.$table-head-background-color;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: v.$table-head-background-color;
}
input[type="range"]::-ms-fill-upper {
  background: v.$table-head-background-color;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px black, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: v.$table-head-background-color;
}
.form-select:focus,
.form-control:focus,
.form-check-input:focus,
.form-range:focus {
  box-shadow: none;
  border-color: v.$dark-blue-color;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// ************************************************************************
// ******** Table *********************************************************
// ************************************************************************
table {
  @media (max-width: 599px) {
    font-size: 10px;
  }
  h5 {
    margin-bottom: 0px;
    @media (max-width: 599px) {
      padding-left: 8px;
    }
  }
  .badge {
    font-weight: 500;
    line-height: 1;
    font-size: 0.7em;
    @media (max-width: 599px) {
      padding: 4px 8px;
      font-size: 10px;
      margin-left: 5px;
    }
  }
}
table th:first-child {
  border-radius: 3px 0 0 3px;
}
table th:last-child {
  border-radius: 0 3px 3px 0;
}
.table > :not(caption) > * > td {
  @media (max-width: 599px) {
    padding: 0.3rem 0 0.3rem 0;
  }
}
.table > :not(caption) > * > th {
  @media (max-width: 599px) {
    padding: 0.5rem 0.1rem 0.5rem 0;
  }
}
.table > :not(caption) > * > td:first-child {
  @media (max-width: 599px) {
    padding-left: 0.3rem;
  }
}
.table > :not(caption) > * > th:first-child {
  @media (max-width: 599px) {
    padding-left: 0.3rem;
  }
}
.table > :not(caption) > * > td:last-child {
  @media (max-width: 599px) {
    padding-right: 0.3rem;
  }
}
.table > :not(caption) > * > th:last-child {
  @media (max-width: 599px) {
    padding-right: 0.3rem;
  }
}
th {
  font-weight: v.$table-header-font-weight;
}
tr td {
  border-top: 1px solid rgb(206, 206, 206);
  border-collapse: collapse;
  padding-bottom: 5px;
  padding-bottom: 2px;
}
tr:nth-child(1) td {
  border-top: 0px;
  border-collapse: collapse;
}
.card-small table {
  overflow: auto;
  overflow-y: scroll;
  height: 234px;
  thead {
    position: sticky;
    top: 0px;
    z-index: 1;
  }
}
.no-data {
  font-style: italic;
  font-weight: 500;
  color: v.$netbank-red-color;
}
.loading {
  font-style: italic;
  font-weight: 500;
  color: v.$netbank-blue-color;
}
.pointer-cursor {
  cursor: pointer;
}
.help-cursor {
  cursor: help;
}
.default-cursor {
  cursor: context-menu;
}
.right-aligned-column {
  text-align: right;
}
.center-aligned-column {
  text-align: center;
}
.thicker-font {
  font-weight: 500;
}
.no-underline {
  border-top: 0px solid rgb(206, 206, 206);
  border-collapse: collapse;
}

// ************************************************************************
// ******** Rest **********************************************************
// ************************************************************************
#credit-card-details {
  font-weight: 500;
  text-decoration: none;
}
#mobileBankImage {
  margin-top: 31px;
  margin-right: 16px;
}
h5 i {
  vertical-align: -0.125em;
  line-height: 0;
}
.modal-header {
  background-color: v.$sidebar-nav-background-color;
}
.modal-body label {
  font-size: 15px;
}
.modal-body input {
  @media (max-width: 599px) {
    font-size: 15px;
  }
}
.first-label {
  margin-top: 1em;
}
.bi-filter {
  vertical-align: 0em;
}
@media (max-width: 599px) {
  p,
  label,
  .footer {
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .alert {
    font-size: 14px;
  }
  .card-body p {
    margin-bottom: 0;
  }
}
// ************************************************************************************************
// ******** Footer ********************************************************************************
// ************************************************************************************************
.footer {
  padding: 20px 0;
  color: v.$dark-blue-color;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid v.$footer-border-color;
  background-color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  @media (max-width: 599px) {
    visibility: hidden;
  }
}

// ************************************************************************
// ******** Back to top button ********************************************
// ************************************************************************
.go-back-to-top {
  background: v.$middle-blue-color;
  border-radius: 6px;
  bottom: 14px;
  height: 32px;
  opacity: 0;
  position: fixed;
  right: 15px;
  transition: all 0.8s;
  visibility: hidden;
  width: 40px;
  z-index: 999;
  i {
    font-size: 24px;
    @media (max-width: 599px) {
      font-size: 20px;
    }
    color: white;
    line-height: 0;
  }
  &:hover {
    transition: all 0.3s;
    background-color: v.$back-to-top-color;
    color: white;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    &:hover {
      i {
        color: black;
      }
    }
  }
}

